<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Solution</title>
    <link rel="icon" type="image/x-icon" href="WhatsApp Image 2024-01-20 at 15.21.00_fe213e48.jpg">
    <link rel="stylesheet" href="/style1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div id="nav">
            <div class="image-container"><a href="/#navigation"><img src="WhatsApp_Image_2024-01-20_at_15.21.00_fe213e48-removebg-preview (1).png" alt="" width="150px"></a></div>
          
          <div class="links-container">
              <a  class="link" href="/#organisations" ><b>Our Solution</b></a>
          
          
              <a class="link" href="/#solution_page" ><b>Organisations</b></a>
          
          
              <a  class="link" href="/#" ><b>Payments</b></a>
          
          
              <a class="link" href="/#about_us" ><b>About us</b></a>
          </div>
              <div class="center-adjuster">
          </div>
        </div>
    </header>

    <main>
        <div class="heading">
            <div class="circle_image"><img src="our_sol_main2-fotor-2024022104458 (2).png" alt="this is an image"></div>
                <div class="heading_text">
                    <h1>Our Solution</h1>
                    <p>Awareness plays a pivotal role in fostering sustainability as it serves as the catalyst for informed and responsible decision-making. It prompts a shift in mindset, encouraging the adoption of eco-friendly practices and the embrace of sustainable lifestyles. So with the help of our website we are spreading awareness as well as providing resources to implement sustainable practices in daily life.</p>
                </div>
        </div>

        <div class="transportation">
            <div class="explanation">
                <h1>Transportation</h1>
                <p>The reliance on fossil fuel-based transportation contributes to air pollution and traffic congestion. Inadequate public transportation infrastructure further hampers accessibility and exacerbates environmental issues. We have provided solutions and resources down below which are readily available for individual use of a person. </p>
            </div>
            <div class="transportation_image">
                <img class="clip_polygon" src="transportation_image.jpg" alt="">
            </div>
        </div>

        <div class="transportation_website_1">
                <div class="lyft_img">
                    <img src="lyft_our_sol_img (1).jpg" alt="">
                </div>
                <div class="lyft">
                    <h1>Lyft</h1>
                    <p>Lyft also took on a multi-million dollar investment to make all their rides carbon neutral. Their carbon-neutral pledge directly funds emission mitigation efforts, including the reduction of emissions in the automotive manufacturing process, renewable energy programs, forestry projects, and the capture of emissions from landfills <a href="https://www.lyft.com/" target="_blank">Know More...</a></p>
                </div>      
        </div>

        <div class="transportation_website_2">
            <div class="octoev_img">
                <img src="octopusev_our_sol_img2.png" alt="">
            </div>
            <div class="octoev">
                <h1>OctopusEv</h1>
                <p>OctopusEV has a positive impact sustainability by reducing carbon emissions associated with traditional vehicles. Electric vehicles typically have lower greenhouse gas emissions, contributing to cleaner air and reduced dependence on fossil fuels. OctopusEv provides a smooth transition from normal vehicles to electric vehicles with less of a financial burden. 
                    <br> <a href="https://octopusev.com/ev-hub/the-sustainability-of-electric-cars" target="_blank">Know More...</a></p>
            </div>
        </div>

        <div class="transportation_website_3">
            <div class="orion_img">
                <img src="lectric _our_sol_img.jpg" alt="">
            </div>
            <div class="orion">
                <h1>Lectric Ebikes</h1>
                <p>LectriceBikes epitomizes the fusion of technology and sustainability in the electric bike industry. Their commitment to eco-friendly transportation is evident in the design and manufacturing of electric bicycles. By providing an alternative to traditional gas-powered vehicles, LectriceBikes reduces carbon emissions and promotes a greener mode of commuting <br> <a href="https://lectricebikes.com" target="_blank">Know More...</a></p>
            </div>
        </div>

        <div class="solidwaste">
            <div class="explanation">
                <h1>Solid Waste</h1>
                <p> Cities generate massive amounts of waste, including plastic and electronic waste, which often end up in landfills or polluting water bodies. The lack of effective waste management including recycling and composting, remains a significant hurdle in sustainable urban development and  poses health risks and environmental hazards.</p>
            </div>
            <div class="solidwaste_image">
                <img class="clip_polygon" src="solid waste_main2.jpg" alt="">
            </div>
        </div>

        <div class="transportation_website_6">
            <div class="fashion_img">
                <img src="vermigold_our_sol_main.jpg" alt="">
            </div>
            <div class="fashion">
                <h1>VermiGold EcoTech</h1>
                <p>Vermigold is an on-site biological recycling automation solution that blends superior vermicomposting biology with try-to-cut technology to allow end-users to collect organic material in a hassle-free and environmentally beneficial way. It is India's only globally accredited waste treatment technology, indicating that its system is best in line and environmentally friendly.<br> <a href="https://www.vermigold.com/" target="_blank">Know More...</a></p>
            </div>
        </div>

        <div class="transportation_website_7">
            <div class="attero_img">
                <img src="attero_our_sol_img.jpg" alt="">
            </div>
            <div class="fashion">
                <h1>Attero</h1>
                <p>Attero is a company that has taken significant strides towards sustainability, positioning itself as a leader in responsible waste management. Through innovative technologies and practices, Attero focuses on minimizing environmental impact while maximizing resource recovery.<br> <a href="https://attero.in/" target="_blank">Know More...</a></p>
            </div>
        </div>

        <div class="alternative">
            <div class="explanation">
                <h1>Alternatives</h1>
                <p>Alternatives involve more efficient use of resources, helping to reduce the overall environmental impact like lower carbon footprints, miniminimizing environmental degradation and preserve valuable resources for future generations.By incorporating alternatives into various aspects of daily life, industries, and policies, societies can move towards a more sustainable and resilient future.</p>
            </div>
            <div class="alternative_image">
                <img class="clip_polygon" src="alternatives_image2.jpg" alt="">
            </div>
        </div>

        <div class="transportation_website_5">
            <div class="banofi_img">
                <img src="banofi_solution.jpg" alt="">
            </div>
            <div class="banofi">
                <h1>Banofi</h1>
                <p>Banofi is a pioneering brand committed to sustainability and redefining the industry by producing high-quality leather alternatives from banana leaves. It stands as a beacon in the fashion industry, proving that style and sustainability can coexist and invites consumers to embrace a greener lifestyle without compromising on quality or fashion-forward designs.
                <a href="https://banofileather.com/" target="_blank"><br>Know More...</a></p>
            </div>
        </div>

        <div class="transportation_website_4">
            <div class="anthropocene_img">
                <img src="patagonia _our_sol_image (1).jpg" alt="">
            </div>
            <div class="anthropocene">
                <h1>Patagonia</h1>
                <p>Patagonia, a renowned outdoor clothing company, exemplifies a commitment to sustainability. They prioritize eco-friendly materials, fair labor practices, and activism.  Their "Worn Wear" initiative encourages customers to repair and recycle clothing, reducing the overall environmental footprint<br> <a href="https://www.patagonia.com/home/?locale=en_IN&currency=null" target="_blank">Know More...</a></p>
            </div>
        </div>
    </main>

    <footer>
        <div class="details" id="about_us">
            <div class="aboutus">
                <h1>About Us</h1>
                <p>We are healing bio, we offer a one stop solution for achieving a sustainable planet. Through our platform, we raise awareness about pressing environmental issues and provide resources, tips, and guides for users to reduce their carbon footprint and adopt eco-friendly strategies in their daily lives. We believe that sustainability is not just a practice but a lifestyle that will help us in healing generations to come.</p>
            </div>
        <div class="right_card">

            <h2>Contact Us</h2>
                <div class="contact-info">
                    <p><strong>Email:</strong> healingbioinfo@gmail.com</p>
                    <p><strong>Phone:</strong> +1 (123) 456-7890</p>
                    <p><strong>Address:</strong> Medicaps university (Indore)</p>
                </div>
    
            <div class="social-icons">
                <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://youtube.com/@HealingBio?si=USVWsYZBXE8YDYdq" target="_blank"><i class="fab fa-youtube"></i></a>
                
            
            </div>
    
            <!-- Additional content ideas -->
            <!-- <h2>Our Team</h2>
            <p>Meet the dedicated individuals behind [your business name]. Lorem ipsum dolor sit amet, consectetur  adipiscing elit.</p> -->
        </div>
    </div>     
    </footer>
    
      
</body>
</html>